<% layout("/layouts/boilerplate") %>
<body>
  <h3 class="text-center my-3">All Listings</h3>

  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 g-3">
    <% for(let listing of allListing) { %>
      <div class="col">
        <a href="/listings/<%= listing._id %>" class="text-decoration-none">
          <div class="card h-100">
            <img src="<%= listing.image?.url || '/images/default.jpg' %>" class="card-img-top" alt="listing-image" style="height:20rem; object-fit:cover;">
            <div class="card-body">
              <h5 class="card-title"><%= listing.title %></h5>
              <p class="card-text">
                ₹ <%= listing?.price ? Number(listing.price).toLocaleString("en-IN") : "No Price" %>/night<br>
                <%= listing.location %>, <%= listing.country %>
              </p>
            </div>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</body>
